/*start screen*/
body.start-screen {
  background-image: url("assets/welcome.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* start button for start screen*/
#start-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 50px;
}

#start-button:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;
}

/*language screen*/
body.language-selection {
  background-image: url("assets/languageselection.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#language-selection {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* spanish button for rules screen*/
#spanish-button {
  width: 110px;
  height: 60px;
  margin-left: 120px;
  padding: 12px 24px;
  font-size: 1.5rem;
  margin-top: 500px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;    
  justify-content: center; 
  text-align: center;  
}

#spanish-button:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;
}

/* english button for rules screen*/
#english-button {
  width: 110px;
  height: 60px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: -60px;
  display: flex;
  align-items: center;    
  justify-content: center; 
  text-align: center;  
  
}

#english-button:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;
}





/* SPANISH GAME*/
/* spanish rules screen*/
body.rules-es-screen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("assets/rules-es.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  overflow: hidden;
}

#rules-es-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* continue button for spanish rules screen*/
#continue-es-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 210px;
}

#continue-es-button:hover {
  background-color: #b98a4c;
  transform: scale(1.05); /* change the colour when hovering*/
}


/* scenario 1 spanish screen */
body.scenario1-es-screen {
  background-image: url("assets/scenario1-es.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario1-es-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* spanish button styles */
#option-button-es-a,
#option-button-es-b, 
#option-button-es-c,
#option-button-es-d {
  position: absolute;
  border: none;
  right: 300px;
  left: -177px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #d49e56;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
}

/* specific button positions for scenario 1 spanish scene */
.scenario1-es-screen #option-button-es-a { 
  top: 143px;
  bottom: 30px;
 }
.scenario1-es-screen #option-button-es-b { 
  top: 194px;
  bottom: 30px;
 }
.scenario1-es-screen #option-button-es-c { 
  top: 245px;
  bottom: 30px;
 }
.scenario1-es-screen #option-button-es-d { 
  top: 294px;
  bottom: 60px;
 }

/* specific button positions for scenario 2 spanish scene */
.scenario2-es-screen #option-button-es-a { 
  top: -50px;
  bottom: 30px;
 }
.scenario2-es-screen #option-button-es-b { 
  top: 0px;
  bottom: 30px;
 }
.scenario2-es-screen #option-button-es-c { 
  top: 50px;
  bottom: 30px;
 }
.scenario2-es-screen #option-button-es-d { 
  top: 100px;
  bottom: 60px;
 }

/* specific button positions for scenario 3 spanish scene */
.scenario3-es-screen #option-button-es-a { 
  top: -50px;
  bottom: 30px;
 }
.scenario3-es-screen #option-button-es-b { 
  top: 0px;
  bottom: 30px;
 }
.scenario3-es-screen #option-button-es-c { 
  top: 50px;
  bottom: 30px;
 }
.scenario3-es-screen #option-button-es-d { 
  top: 100px;
  bottom: 60px;
 }


/* hover effect for buttons */
#option-button-es-a:hover, #option-button-es-b:hover, #option-button-es-c:hover, #option-button-es-d:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;  
}

/* scenario 2 screen*/
body.scenario2-es-screen {
  background-image: url("assets/scenario2-es.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario2-es-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* scenario 3 screen */
body.scenario3-es-screen {
  background-image: url("assets/scenario3-es.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario3-es-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* spanish wrong screen */
body.wrong-es-screen {
  background-image: url("assets/badending-es.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrong-es-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* spanish retry button for wrong screen */
#retry-es-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 170px;
}

#retry-es-button:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;
}

/* spanish win screen */
body.win-es-screen {
  background-image: url("assets/ending-es.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* play again button for win screen */
#play-again-es-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 365px;
}

#play-again-es-button:hover {
  background-color: #b98a4c;
  transform: scale(1.05); /*change the colour when hovering*/
}




/* ENGLISH GAME */
/* english rules screen*/
body.rules-en-screen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("assets/rules-en.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  overflow: hidden;
}

#rules-en-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* continue button for english rules screen*/
#continue-en-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 210px;
}

#continue-en-button:hover {
  background-color: #b98a4c;
  transform: scale(1.05); /* change the colour when hovering*/
}


/* scenario 1 english screen */
body.scenario1-en-screen {
  background-image: url("assets/scenario1-en.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario1-en-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* english button styles */
#option-button-en-a,
#option-button-en-b, 
#option-button-en-c,
#option-button-en-d {
  position: absolute;
  border: none;
  right: 300px;
  left: -177px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #d49e56;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
}

/* specific button positions for scenario 1 english scene */
.scenario1-en-screen #option-button-en-a { 
  top: 143px;
  bottom: 30px;
 }
.scenario1-en-screen #option-button-en-b { 
  top: 194px;
  bottom: 30px;
 }
.scenario1-en-screen #option-button-en-c { 
  top: 245px;
  bottom: 30px;
 }
.scenario1-en-screen #option-button-en-d { 
  top: 294px;
  bottom: 60px;
 }

/* specific button positions for scenario 2 english scene */
.scenario2-en-screen #option-button-en-a { 
  top: -50px;
  bottom: 30px;
 }
.scenario2-en-screen #option-button-en-b { 
  top: 0px;
  bottom: 30px;
 }
.scenario2-en-screen #option-button-en-c { 
  top: 50px;
  bottom: 30px;
 }
.scenario2-en-screen #option-button-en-d { 
  top: 100px;
  bottom: 60px;
 }

/* specific button positions for scenario 3 english scene */
.scenario3-en-screen #option-button-en-a { 
  top: -50px;
  bottom: 30px;
 }
.scenario3-en-screen #option-button-en-b { 
  top: 0px;
  bottom: 30px;
 }
.scenario3-en-screen #option-button-en-c { 
  top: 50px;
  bottom: 30px;
 }
.scenario3-en-screen #option-button-en-d { 
  top: 100px;
  bottom: 60px;
 }


/* hover effect for buttons */
#option-button-en-a:hover, #option-button-en-b:hover, #option-button-en-c:hover, #option-button-en-d:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;  
}

/* scenario 2 screen*/
body.scenario2-en-screen {
  background-image: url("assets/scenario2-en.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario2-en-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* scenario 3 screen */
body.scenario3-en-screen {
  background-image: url("assets/scenario3-en.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario3-en-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* wrong english screen */
body.wrong-en-screen {
  background-image: url("assets/badending-en.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrong-en-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* retry button for wrong screen */
#retry-en-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 210px;
}

#retry-en-button:hover {
  transform: scale(1.05); /*change the colour when hovering*/
  background-color: #b98a4c;
}

/* win screen */
body.win-en-screen {
  background-image: url("assets/ending-en.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* play again button for win screen */
#play-again-en-button {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #d49e56;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 365px;
}

#play-again-en-button:hover {
  background-color: #b98a4c;
  transform: scale(1.05); /*change the colour when hovering*/
}